/* @font-face {
  font-family: Gotham;
  src: url(static/g);
} */

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

a {
  all: unset;
}
a:hover{
  all: unset;
}

body{
  background: #121212;
  width: 100%;
}

.content {
  margin-top: 150px;
  transition: 500ms;
}

.content.active-state {
  margin-top: 50px;
  transform: 500ms;
}

.logo{
  width: 100%;
  margin: auto;
  display: block;
  padding-bottom: 50px;
  transition: 500ms;
}

.content.active-state .logo {
  width: 90%;
}

.wrapper{
  position: 'relative';
  height: 75px;
}

.wrapper .search-input{
  z-index: 2;
  background: #fff; 
  border-radius: 27.5px;
  width: 80%;
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 27.5px;
  padding-left: 50px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
  border-radius: 27.5px 27.5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}
.search-input .icon{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #1bb954;
}

.tag-wrapper {
  padding-top: 20px;
  display: block;
  margin: auto;
  width: 80%;
  min-height: 120px;
}

.card {
  margin-top: 20px;
  color: white;
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #202020;
  transition: 500ms;
  cursor: pointer;
  border-radius: 8px;
  position: 'relative';

  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari and Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}

.card:hover {
  background-color: #303030;
}

.cover-art {
  width: 150px;
  border-radius: 5px;
}

.song-title { 
  margin-top: 20px;
}

.artists {
  color: #bbbbbb;
}

.artist-name {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.artist-name:hover{
  text-decoration: underline;
}

.play {
  opacity: 0;
  width: 60px;
  position: absolute;
  right: 30px;
  bottom: 0px;
  transition: 300ms;
  z-index: 2;
}

.card:hover > .play {
  opacity: 1;
  bottom: 30px;
}

.play:hover {
  transform: scale(1.08)
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/* .full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

#soundsuggest-title{
    color:#a13c9e
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
} */