@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: solid 2px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px grey;
  border: solid 2px transparent;
}

a {
  all: unset;
}
a:hover{
  all: unset;
}

body{
  background: #121212;
  width: 100%;
  overflow-x: hidden;
}

.h100 {
  height: 100%;
}

.content {
  /* margin-top: 150px; */
  transition: 500ms;
  max-width: 1500px;
  margin: 150px auto auto auto;
  min-height: calc(100vh - 150px);
  height: 1px
}

.content.active-state {
  margin-top: 30px;
  transform: 500ms;
}

.logo{
  width: 100%;
  margin: auto;
  display: block;
  padding-bottom: 50px;
  transition: 500ms;
}

.content.active-state .logo {
  width: 90%;
  padding-bottom: 30px;
}

.wrapper{
  position: 'relative';
  height: 65px;
}

.wrapper .search-input{
  z-index: 3;
  background: #fff; 
  border-radius: 27.5px;
  width: 80%;
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #ced4da;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input:focus-within{
  border-color: #1bb954;
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 27.5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
  border-radius: 27.5px 27.5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #1bb954;
  cursor: pointer;
}

.tag-wrapper {
  padding-top: 20px;
  display: block;
  margin: auto;
  width: 80%;
  min-height: 120px;
}

.error {
  color: white;
  text-align: center;
}

.card {
  margin: 20px auto auto auto;
  color: white;
  display: block;
  width: 100%;
  max-width: 550px;
  padding: 15px;
  background-color: #202020;
  transition: 500ms;
  cursor: pointer;
  border-radius: 8px;
  position: 'relative';

  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari and Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}

.card:hover {
  background-color: #303030;
}

.cover-art {
  width: 150px;
  border-radius: 5px;
}

.song-title { 
  margin-top: 20px;
  word-wrap: break-word;
}

.card-text {
  color: #bbbbbb;
}

.artist-name {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.artist-name:hover{
  text-decoration: underline;
}

.play {
  opacity: 0;
  width: 60px;
  position: absolute;
  right: 30px;
  bottom: 0px;
  transition: 300ms;
  z-index: 2;
}

.card:hover .play {
  opacity: 1;
  bottom: 30px;
}

.play:hover {
  transform: scale(1.08)
}

.visualization {
  position: sticky;
  /* height: 600px; */
  top: calc(48vh - 250px);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 500ms;

  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari and Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}

.visualization > * {
  border-radius: 10px;
  transition: 500ms;

  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari and Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}